.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    margin-top: 25px;
}

.metrics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 15px;
}

.metrics p {
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.1em;
}

.metrics span {
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1.2em;
}

.card h3 {
    color: var(--text-color);
    margin-bottom: 15px;
    font-size: 1.2em;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
}

.main-content.dashboard .card {
    display: flex;
    flex-direction: column;
}

.card canvas {
    max-height: 300px;
    margin: 0 auto;
    display: block;
}


@media (max-width: 768px) {
    .metrics {
        grid-template-columns: 1fr;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .card {
        margin-bottom: 15px;
    }
}